body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #000;
  background-color: #ccf;
}

table, td, th {
  padding: 0;
  margin: 0;
  font-size: 14px;
  border-spacing: 0;
}
table {
  width: 100%;
}

.main {
  margin: 10px auto;
  width: 800px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.tabs {
  width: 600px;
  padding: 10px;
}

.tabs__header {
  width: 100%;
}

.tabs__header--item {
  display: inline-block;
  height:  30px;
  line-height: 30px;
  width:100px;
  border: 2px solid #008;
  border-bottom:none;
  border-top-right-radius: 30px;
  background-color: #008;
  color: #fff;
  margin-right: 2px;
  text-align:center;
  cursor: pointer;
}

.tabs__header--item.tab--selected {
  background-color: #fff;
  color: #008;
}

.tabs__content {
  width: calc(100%-20px);
  padding: 10px;
  height: 500px;
  border: 2px solid #008;
}

tr:first-child {
 background-color: #0dd;
}

td {
  border-bottom: 1px solid #0dd;
}