<h1>Equipment</h1>
<div class="equipment__body">
  <div class="equipment__body--stat">
    <div class="equipment__body--attack">
      Attack: <span>{{attack}}</span>
    </div>
    <div class="equipment__body--shield">
      Defence: <span>{{defence}}</span>
    </div>
  </div>
  <div class="equipment__body--model">
    <div class="equipment__body--guns" 
         ng-click="unwear('gun')" ng-style="body.gun.weared" ></div>
    <div class="equipment__body--shield" 
         ng-click="unwear('shield')" ng-style="body.shield.weared"></div>
  </div>
</div>
<h1>My items for use</h1>
<div class="equipment__pocket">
  <div class="equipment__pocket--line">
    <div class="equipment__pocket--good" ng-repeat="item in pocket" ng-hide="item.weared">
      <div class="good__item--title">
        {{item.title}}
      </div>
      <img class="good__item--image" ng-src="{{item.image}}">
      <div class="good__item--description">
        {{item.description}}
      </div>
      <div class="good__item--action">
        <a href ng-click="wearItem(item)">Wear</a>
      </div>
      <div class="good__item--price">{{item.time}}</div>
    </div>
  </div>
</div>
<h1>Items in store</h1>
<div class="equipment__market">
  <div class="equipment__market--line">
    <div class="equipment__market--good" ng-repeat="item in market">
      <div class="good__item--title">
        {{item.title}}
      </div>
      <img class="good__item--image" ng-src="{{item.image}}">
      <div class="good__item--description">
        {{item.description}}
      </div>
      <div class="good__item--action">
        <a href ng-click="buyItem(item)">Buy</a>
      </div>
      <div class="good__item--price">{{item.price}}</div>
    </div>   
  </div>
</div>