<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Game profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="" />

    </head>
    <body>
      <div class="">
          <a href="#" class="">
              <img src="" />
          </a>
          <div class="">
              <span class=""> profile zone</span><span class=""> | </span>
              <a href="/logout" class="">Logout</a>
          </div>
      </div>
        <div class="">
            <div class="">
                <div class="">
                    <a href="#/" class="">
                        <span class=""></span>
                        <span>Profile</span>
                    </a>
                    <a href="#/equipment" class="">
                        <span class=""></span>
                        <span>Equipment</span>
                    </a>
                    <a href="#/messages" class="">
                        <span class=""></span>
                        <span>Messages</span>
                    </a>
                    <a href="#/single/bot" class="">
                        <span class=""></span>
                        <span>Battle with bot</span>
                    </a>
                    <a href="#/settings" class="">
                        <span class=""></span>
                        <span>Settings</span>
                    </a>
                </div>
            </div>
            <div class="main" ng-view="">
				<h1>Profile</h1>
				<div class="">
				  <img src="{{profile.avatar}}" />
				  <input type="text" name="avatar" ng-model="profile.avatar" />
				</div>
				<div class="">
				  <label>User</label>
				  <span>{{profile.username}}</span>
				</div>
				<div class="">
				  <label>Level</label>
				  <span>{{profile.level}}</span>
				</div>
				<div class="">
				  <label>Cash</label>
				  <span>{{profile.cash}}</span>
				</div>
				<h3>Battle statistic</h3>
				<div class="">
				  <label>Wins</label>
				  <span>{{profile.stat.wins}}</span>
				</div>
				<div class="">
				  <label>Looses</label>
				  <span>{{profile.stat.looses}}</span>
				</div>
				<div class="">
				  <label>Draws</label>
				  <span>{{profile.stat.draws}}</span>
				</div>
				<h3>Personal data</h3>
				<div class="">
				  <label>Email</label>
				  <input type="text" name="email" ng-model="" />
				</div>
				<div class="">
				  <label>Origin</label>
				  <textarea name="origin" ng-model="profile.origin"></textarea>
				</div>
				<div class="">
				  <input type="button" value="Update" />
				</div>
			</div>
        </div>
      </div>
  
    </body>
</html>
