<h1>{{getMate(conversation.authors)}}</h1>
<div class="messages__new">
  <textarea placeholder="Type some text here..." ng-model="message"></textarea>
  <button ng-click="sendMessage()">New message</button>
</div> 
<div class="messages__feed">
  <div class="messages__item" ng-repeat="item in conversation.messages">
    <div class="messages__header">
      <div class="messages__header--date">{{item.date}}</div>
      <div class="messages__header--name">{{item.author}}</div>
      <div class="messages__header--text">{{item.text}}</div>
    </div>
  </div>
</div>