<h1>Profile</h1>
<div class="profile__avatar">
  <img src="{{profile.avatar}}" />
  <input type="text" name="avatar" ng-model="profile.avatar" />
</div>
<div class="profile__item">
  <label>User</label>
  <span>{{profile.username}}</span>
</div>
<div class="profile__item">
  <label>Level</label>
  <span>{{profile.level}}</span>
</div>
<div class="profile__item">
  <label>Cash</label>
  <span>{{profile.cash}}</span>
</div>
<h3>Battle statistic</h3>
<div class="profile__item">
  <label>Wins</label>
  <span>{{profile.stat.wins}}</span>
</div>
<div class="profile__item">
  <label>Looses</label>
  <span>{{profile.stat.looses}}</span>
</div>
<div class="profile__item">
  <label>Draws</label>
  <span>{{profile.stat.draws}}</span>
</div>
<h3>Personal data</h3>
<div class="profile__item">
  <label>Email</label>
  <input type="text" name="email" ng-model="profile.email" />
</div>
<div class="profile__item">
  <label>Origin</label>
  <textarea name="origin" ng-model="profile.origin"></textarea>
</div>
<div class="profile__item">
  <input ng-click="updateProfile()" type="button" value="Update" />
</div>
<div class="profile__item">
  <span class="error" ng-show="message.error">{{message.status}}</span>
  <span class="passed" ng-show="!message.error">{{message.status}}</span>
</div>