<h1>Crazy Race</h1>
<div class="minigames__cr">
  <div class="minigames__cr--title">
    Who will win this race?  
  </div>
  <div class="minigames__cr--content">
    <div class="minigames__cr--line">
      <div class="minigames__cr--number">1</div>
      <input type="radio" ng-model="bugNumber" ng-value="1" ng-disabled="playDisabled" name="bugs" />
      <div class="minigames__cr--bug" ng-style="{'left': bugsPosition[0]}"></div>
    </div>
    <div class="minigames__cr--line">
      <div class="minigames__cr--number">2</div>
      <input type="radio" ng-model="bugNumber" ng-value="2" ng-disabled="playDisabled" name="bugs" />
      <div class="minigames__cr--bug" ng-style="{'left': bugsPosition[1]}"></div>
    </div>
    <div class="minigames__cr--line">
      <div class="minigames__cr--number">3</div>
      <input type="radio" ng-model="bugNumber" ng-value="3" ng-disabled="playDisabled" name="bugs" />
      <div class="minigames__cr--bug" ng-style="{'left': bugsPosition[2]}"></div>
    </div>
  </div>
  <div class="minigames__cr--buttons">
    <span ng-hide="playDisabled">Select your bet: </span>
    <select ng-model="bet" ng-hide="playDisabled">
      <option value="1">1 coin</option>
      <option value="3">3 coins</option>
      <option value="5">5 coins</option>
      <option value="10">10 coins</option>
      <option value="20">20 coins</option>
      <option value="50">50 coins</option>
    </select>
    <a class="minigames__cr--button" href ng-hide="playDisabled" ng-click="playRace()">Let's Play!</a>
    <a class="minigames__cr--button" href ng-click="clearGame()">Reset</a>
  </div>
  <div class="minigames__cr--result" ng-show="isShowResult">
    <div class="winner" ng-show="isYouWinner">You are winner!</div>
    <div class="looser" ng-hide="isYouWinner">You are looser!</div>
  </div>
</div>
<div class="minigames__cr--message" ng-show="isShowError">{{message}}</div>
