<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Game profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/game.css" />

    </head>
    <body ng-controller="mainPage">
      <div class="header">
          <a href="#" class="header__logo">
              <img src="" />
          </a>
          <div class="user-nav user-nav--header">
              <span class="user-nav__item">{{me}} profile zone</span><span class="user-nav__item"> | </span>
              <a href="/logout" class="user-nav__item">Logout</a>
          </div>
      </div>
        <div class="wrap">
            <div class="sidebar">
                <div class="nav">
                    <a href="#/" class="nav__tab">
                        <span class="menu-icon menu-icon--home"></span>
                        <span>Profile</span>
                    </a>
                    <a href="#/equipment" class="nav__tab">
                        <span class="menu-icon menu-icon--deliveries"></span>
                        <span>Equipment</span>
                    </a>
                    <a href="#/messages" class="nav__tab">
                        <span class="menu-icon menu-icon--couriers"></span>
                        <span>Messages</span>
                    </a>
                    <a href="#/single/bot" class="nav__tab">
                        <span class="menu-icon menu-icon--billing"></span>
                        <span>Battle with bot</span>
                    </a>
                    <a href="#/single/duel" class="nav__tab">
                        <span class="menu-icon menu-icon--billing"></span>
                        <span>Battle with opponent</span>
                    </a>
                    <a href="#/group" class="nav__tab">
                        <span class="menu-icon menu-icon--couriers"></span>
                        <span>Group battles</span>
                    </a>
                    <a href="#/mini" class="nav__tab">
                        <span class="menu-icon menu-icon--couriers"></span>
                        <span>Mini games</span>
                    </a>
                    <a href="#/settings" class="nav__tab">
                        <span class="menu-icon menu-icon--settings"></span>
                        <span>Settings</span>
                    </a>
                </div>
            </div>
            <div class="main" ng-view=""></div>
        </div>
      <div class="modal-chat" ng-class="{'closed' : isChatClosed}">
        <div class="modal-chat__button" ng-click="toggleChat()">+</div>
        <div class="modal-chat__wrapper" ng-class="{'closed' : isChatClosed}">
          <div class="modal-chat__messages">
            <div class="modal-chat__message" 
                 ng-repeat="item in messages" ng-if="item.type === 'chat'">
              <span style="font-weight:900">{{item.data.name}}:</span>&nbsp;{{item.data.text}}
            </div>
          </div>
          <input type="text" class="modal-chat__input" ng-keypress="typeMessage($event)" ng-model="chatMessage" />
          <button class="modal-chat__send" ng-click="sendMessage()">Send</button>
        </div>
      </div>

      <div class="modal-loading" ng-show="isShowLoading"><div>Loading ...</div></div>
      <script src="js/angular.min.js"></script>
      <script src="js/angular-route.js"></script>
      <script src="js/app.js"></script>
      <script src="js/service.js"></script>
      <script src="js/controllers.js"></script>   
    </body>
</html>
