body, div, nav, img, a, p, h1, h3 {
  margin: 0;
  padding: 0;
  
}
body {
  background-color: violet;
}
.main {
  width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 25px 5px;
  border-radius: 20px;
  background-color: lavender;
}

.main__logotype {
  width:100%;
  height: 250px;
}
.main__logotype img {
  width:100%;
  height:100%;
  border: none;
}

nav {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
nav a {
  position: relative;
  padding: 10px 25px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
}
nav div.dropdown {
  position: relative;
  display: inline-block;
}
nav div.dropdown:hover .menu-content {
  display:block;
}

.menu-content {
  display:none;
  position: absolute;
  top:40px;
  left:0px;
  width: 170px;
  background-color: #fff;
  color: #444;
  transition: display 1s;
}
.menu-content .menu-content__item {
  float: left;
  width: 150px;
  height: 25px;
  line-height: 25px;;
  padding: 0px 10px;
  text-align: left;
  cursor: pointer;
  opacity:.5;
  transition: opacity 1s, background-color 1s;
}

.menu-content .menu-content__item:hover {
  background-color: #ccc;
  opacity: 1;
}