body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: #008;
}

.main {
  margin: 50px auto;
  width: 400px;
  height: 300px;
  background-color: #fff;
  color: #000;
  border-radius: 15px;
}

.header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: #f00;
}

.content {
  height: 165px;
  color: #444;
  text-indent: 15px;
  padding: 0 15px;
}
.footer {
  width: 100%;
  margin: 20px;
  text-align: center;
  color: #f00;
}

.footer span {
  padding: 5px 25px;
  font-size: 24px;
  color: #fff;
  background-color: #f00;
  font-weight: 900;
  border-radius: 8px;
}