body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #000;
  background-color: #ccf;
}

table, td, th {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
table {
  width: 100%;
}

.main {
  margin: 10px auto;
  width: 800px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.example {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px dotted #ccc;
}

.example h3 {
  padding: 10px 5px;
  border-bottom: 1px solid #444;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(128,128,128,.5);
}

.modal-overlay .modal-content {
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -150px;
  border-radius: 10px;
  box-shadow: 5px 5px #444;
}

.modal-overlay .modal-content h3 {
  padding: 0;
  margin: 10px auto;
  text-align: center;
  color: #800;
  font-size: 22px;
}

.modal-overlay .modal-content button {
  display: block;
  margin: 10px auto;
  text-align: center;
  padding: 5px 15px;
  font-weight: 900;
  color: #fff;
  background-color: #00c;
}

#map {
  width: 400px;
  height:300px;
  position: relative;
  z-index: 1;
}

#map-autocomplete {
  position:absolute;
  padding: 5px 15px;
  background-color: #fff;
  color: #666;
  border:1px solid #444;
  border-radius: 4px;
  top:20px;
  left: 20px;
  z-index: 10;
}

