.hMy{
  text-align: center; 
  font-family: arial black;
  color:darkblue;
}
.pMy{
  font-size:16px;
  font-family: arial black;
  color: grey;
}
.preMy{
  font-family: segoe ui;
}
.pMy2{
  font-style: italic;
  font-size: 13px;
}
.pMy3{
  font-family: segoe ui;
}